[submodule "home/vim/bundle/command-t"]
	path = home/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/vim/bundle/vim-rails"]
	path = home/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/vim-repeat"]
	path = home/vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/vim-endwise"]
	path = home/vim/bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
