[submodule "home/vim/bundle/command-t"]
	path = home/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/vim/bundle/vim-rails"]
	path = home/vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
