Icon*
.DS_Store
.dropbox
00env.sh
env.sh
home/tmuxinator
.netrwhist

home/zshenv

# Bundles managed by vim-update-bundles
home/vim/doc/bundle-log.txt
home/vim/doc/bundles.txt
home/vim/bundle
.bundle

# vim plugins managed by https://github.com/junegunn/vim-plug
home/vim/plugged
