Icon*
.DS_Store
.dropbox
00env.sh
env.sh
home/dot-tmuxinator
.netrwhist
.bundle

home/zshenv
home/dot-zshenv

# needs to be installed from https://github.com/kevinschoon/pomo
bin/pomo

# vim plugins managed by https://github.com/junegunn/vim-plug
home/dot-vim/plugged
home/dot-vim/plugged

# Includes an oauth token
home/config/gh/hosts.yml

home/config/lvim/plugin/packer_compiled.lua
home/config/lvim.bak
home/config/nvim/lsp.log
home/config/nvim/luacache_*

guard_result/result

home/config/op
home/config/yarn
home/config/pgcli
home/config/configstore

home/config/base16-shell

.claude/settings.local.json
